.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #175d5f;

  .login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-title {
      margin: 0;
      color: #175d5f;
    }
    .login-subtitle {
      margin: 0;
      margin-bottom: 0.5rem;
      color: #656666;
      font-size: 1.4rem;
    }
    .input-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 1rem;
      align-items: center;

      input {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 90%;
      }
    }

    .button-container {
      display: flex;
      width: 100%;
      margin-top: 1rem;
      gap: 0.5rem;

      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:first-child {
          background-color: #306163;
          color: #fff;
          width: 50%;

          &:hover {
            background-color: #175d5f;
          }
        }

        &:last-child {
          background-color: #ccc;
          color: #175d5f;
          width: 50%;
          &:hover {
            background-color: #b3b3b3;
          }
        }
      }
    }
    .checkbox-container {
      margin-top: 1.7rem;
      color: #175d5f;

      input[type='checkbox'] {
        margin-right: 0.5rem;
      }
    }
  }
}
